[submodule "lib/SDL"]
	path = lib/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "lib/VulkanMemoryAllocator"]
	path = lib/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "lib/volk"]
	path = lib/volk
	url = https://github.com/zeux/volk
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm
