[submodule "lib/SDL"]
	path = lib/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "lib/VulkanMemoryAllocator"]
	path = lib/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "lib/volk"]
	path = lib/volk
	url = https://github.com/zeux/volk
